<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">OBX Vacay</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Include Livestream Component -->
  <div style="padding: 16px;">
    <app-livestream></app-livestream>
  </div>

  <ion-item>
    <ion-label>Check Out Our Live Stream!</ion-label>
  </ion-item>
</ion-content>